<style>
   #map {
    height: 80vh;
    width: 100%;
   }
</style>
<script>
  function initMap() {
    var deliveryAddress = {
      lat: <%= @order.delivery_address.latitude %>,
      lng: <%= @order.delivery_address.longitude %>
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: deliveryAddress
    });
    var marker = new google.maps.Marker({
      position: deliveryAddress,
      map: map
    });
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_JS_API_KEY'] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<% if @order.in_progress %>
  <div id="map"></div>
<% else %>
  <div id='order-complete'>
    Order has been completed
  </div>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
