<style>
   #map {
    height: 80vh;
    width: 100%;
   }
</style>
<script>
  function initMap() {
    let deliveryAddress = {
      lat: <%= @order.delivery_address.latitude %>,
      lng: <%= @order.delivery_address.longitude %>
    };

    let orderCurrentLocation = {
      lat: <%= @order.current_latitude %>,
      lng: <%= @order.current_longitude %>
    }

    let drivingRoute = [
      { lat: orderCurrentLocation.lat, lng: orderCurrentLocation.lng },
      { lat: deliveryAddress.lat, lng: deliveryAddress.lng },
    ];

    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: orderCurrentLocation
    });

    let orderCurrentLocationMarker = new google.maps.Marker({
      position: orderCurrentLocation,
      map: map
    });

    let deliveryAddressMarker = new google.maps.Marker({
      position: deliveryAddress,
      map: map
    });

    new google.maps.Polyline({
      map: map,
      path: drivingRoute,
      geodesic: true,
      strokeColor: '#000000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_JS_API_KEY'] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<% if @order.in_progress %>
  <div id="map"></div>
<% else %>
  <div id='order-complete'>
    Order has been completed
  </div>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
