<style>
   #map {
    height: 80vh;
    width: 100%;
   }
</style>
<script>

  // Initialize orders map with polyline driving route
  initMap = () => {
    calcRoute = () => {
      let request = {
          origin: orderCurrentLocation,
          destination: orderDeliveryAddress,
          travelMode: google.maps.TravelMode['DRIVING'],
          unitSystem: google.maps.UnitSystem.IMPERIAL,
          drivingOptions: {
            departureTime: new Date(Date.now()),
            trafficModel: 'bestguess'
          }
      };
      directionsService.route(request, function(response, status) {
        // TODO: Handle non-OK status in UI - https://developers.google.com/maps/documentation/javascript/directions
        if (status == 'OK') {
          directionsDisplay.setDirections(response);
        }
      });
    }

    let directionsService = new google.maps.DirectionsService();
    let directionsDisplay = new google.maps.DirectionsRenderer();
    let orderDeliveryAddress = new google.maps.LatLng(
      <%= @order.delivery_address.latitude %>,
      <%= @order.delivery_address.longitude %>
    );
    let orderCurrentLocation = new google.maps.LatLng(
      <%= @order.current_latitude %>,
      <%= @order.current_longitude %>
    );
    var mapOptions = {
      zoom: 14,
      center: orderDeliveryAddress
    }
    let map = new google.maps.Map(document.getElementById('map'), mapOptions);
    directionsDisplay.setMap(map);
    calcRoute();
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_JS_API_KEY'] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<% if @order.in_progress %>
  <div id="map"></div>
<% else %>
  <div id='order-complete'>
    Order has been completed
  </div>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
